body {
  font-family: 'Roboto', Arial, sans-serif;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.navigation-panel {
  display: flex;
  justify-content: flex-start;
  /* width: 1200px; */
  padding: 50px 140px 0 140px;
  background-color: #eeeeee;
}

.header-logo {
  margin-right: 140px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  margin: 0;
}

.site-navigation,
.cart {
  position: relative;
  text-transform: uppercase;
}

.site-navigation a,
.cart a {
  display: inline-block;
  padding: 30px 24px 14px 22px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: #a6a6a6;
}

.navigation-current {
  position: relative;
}

.navigation-current::before {
  content: "";
  position: absolute;
  background-color: #fb565a;
  width: 74px;
  height: 2px;
  top: 59px;
  left: 23px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 223px;
  height: 30px;
  width: 30px;

  background: url("../img/cart-icon.svg") no-repeat;
}

.cart a {
    margin-left: 200px;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.slider {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls i::after {
	content: "";

	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;
	background: #ffffff;
	border-radius: 50%;
}

.slider-controls .active::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider-item {
	display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url("../img/nerds-index-slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/nerds-index-slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/nerds-index-slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.button {
	display: block;
	width: 240px;
	padding: 15px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: #e37376;

	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.slider h1 {
  margin-top: 76px;
  margin-bottom: 23px;
  font-size: 54px;
  line-height: 56px;
}

.row-2 {
  display: flex;
  justify-content: flex-start;
  margin: 0 140px;
  padding: 80px 0;
  border-bottom: 2px solid lightgrey;
  background-color: #ffffff;
}

.column {
  width: 250px;
  margin-right: 150px;
}

.column h2 {
  text-transform: uppercase;
}

.button-pink,
.button-green,
.button-yellow {
  width: 160px;
  margin-top: 30px;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
}

.row-3 {
  display: flex;
  justify-content: flex-start;
  margin: 80px 140px 0 140px;;
  padding: 0;
	padding-bottom: 50px;
	border-bottom: 2px solid lightgrey;
}


.row-3-left {
  width: 660px;
  margin-right: 105px;
}

.row-3-left li {
  position: relative;
  line-height: 44px;
}

.row-3-left li::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 20px;

  width: 25px;
  height: 2px;
  background: red;
}

.row-3 h2 {
  font-size: 45px;
  line-height: 45px;
  margin-top: 0;
}

.row-3 h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.row-3-right {
	width: 420px;
}

.row-3-right img {
  margin-left: 30px;
}

.row-3-right ul {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.row-3-right ul li {
	width: 100px;
	padding: 0;
	margin: 0 15px;;
}

.big-percent {
	font-size: 40px;
	font-weight: bold;
}

.row-logo {
	display: flex;
	justify-content: space-between;
	margin: 0 140px;
  padding: 0;
	border-bottom: 2px solid lightgrey;
}

.row-logo a {
	opacity: 0.2;
}

.row-logo a:hover,
.row-logo a:focus {
	opacity: 1;
}

.row-logo a:active {
	opacity: 0.1;
}

.vertical-line {
	margin: auto 0;
	padding: 0;
	width: 2px;
	height: 50px;
	background-color: lightgrey;
}

footer {
	margin: 0;
  padding: 0;
}
.map {
	position: relative;
	height: 420px;
	margin: 0;
	padding: 0;
	background-image: url("../img/map.png");
	background-position: center center;
}

.feedback-form {
	position: absolute;
	left: 140px;
	top: 52px;
	width: 220px;
	height: 220px;
	margin: 0;
	padding: 50px;
	background-color: #ffffff;
}

.feedback-form h3 {
  margin-top: 0;
}

.feedback-form .button {
  width: 220px;
  margin-top: 25px;
}

.feedback-form p {
	opacity: 0.6;
}

.map-pointer {
	position: absolute;
	top: 50px;
	left: 765px;
}

.social {
	margin: 0 140px;
	padding: 0;
	height: 200px;
	display: flex;
	align-items: flex-start;
}

.social > div {
	margin: auto 140px;
	margin-left: 0;
}

.social-container {
	display: flex;
	justify-content: space-between;
	width: 250px;
}

.social-button {
}

.social-button a {
	position: relative;
	display: block;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-button a:hover,
.social-button a:focus {
	background-color: #e74246;
}

.social-button a:active {
	color: #000000;
	
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.social-button img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.social h2 {
	font-size: 34px;

	margin: 0;
	margin-top: 50px;
}




/*Оформление каталога*/

h1 {
	text-align: center;
	font-size: 53px;
	margin: 0;
	padding: 90px 0 123px 0;
	letter-spacing: 0.025em;
	background-color: #eeeeee;
}

.main-catalog {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	padding: 58px 140px;
}

.filter {
  width: 260px;
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dddddd;
}

.filter-button:active {
	color: #aaaaaa;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.filter-item legend {
	font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter-item {
  margin: 0 0 51px 0;;
  padding: 0;

  border: none;
}

.filter-item ul {
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 51px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right:  20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius:  5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 8px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.filter-option {
  margin: 16px 0 0 0;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input {
  display: none;
}

.filter-input-radio:hover + label::before {
  opacity: 1.0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;

  top: 0;
  left: -35px;
  background: url("../img/radio-off.svg") no-repeat center;
  opacity: 0.5;
}

.filter-input-radio:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat center;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 26px;

  top: 0;
  left: -39px;
  background: url("../img/checkbox-off.svg") no-repeat center;
  opacity: 0.5;
}

.filter-input-checkbox:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat center;
  left: -37px;
}

.sort-items {
	font-weight:bold;
	text-align: left;
}

.examples {
  margin-left: 140px;
}

.examples-form {
	display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
	
	margin-bottom: 50px;
}

.examples-form a {
	color: #000000;
	font-size: 18px;
}

.examples-form-right a {
	font-size: 14px;
	margin-left: 25px;
	opacity: 0.2;
}

.examples-form-right a:focus,
.examples-form-right a:hover {
	opacity: 0.5;
}

.examples-form-right a:active {
	opacity: 1;
}

.examples-images {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-image {
	position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.example-image-header {
  opacity: 0.1;
}

.example-image:hover .example-image-header {
  opacity: 1;
}

.example-image-footer {
	position: absolute;
	bottom: 0;
	width: 360px;
	height: 230px;
	background-color: #eeeeee;
	opacity: 0;
}

.example-image:hover .example-image-footer {
  opacity: 1;
}

.example-image-footer p {
	text-decoration: none;
	
	text-align: center;
	margin: 20px auto;
}

.product-name {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
}

.product-info {
	color: #888888;
}

.product-button {
	position: absolute;
	bottom: 25px;
	left: 80px;
	width: 200px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 27px 0 0 0;
  list-style: none;
}

.pagination-item a {
	margin-right: 11px;

  background-color: #eeeeee;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  color: #000000;
  padding: 14px 20px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dddddd;
}

.pagination-item a:active {
	color: #aaaaaa;
}

.pagination-item-next a {
  width: 260px;
  margin: auto;
  text-align: center;
}

.pagination-item-current a {
  background-color: #ffffff;
}

.pagination-item-current a:hover {
  background-color: #ffffff;
}

.pagination-item-current a {
  border: 4px solid #dbdbdb;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 3px;
}
