body {
  font-family: 'Roboto', Arial, sans-serif;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  cursor: pointer;
  display: block;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  margin-top: 39px;
  padding: 16px 55px;
  text-transform: uppercase;
  border-radius: 3px;
}

.navigation-panel {
  display: flex;
  justify-content: flex-start;
  /* width: 1200px; */
  padding: 50px 140px 0 140px;
  background-color: #eeeeee;
}

.header-logo {
  margin-right: 140px;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  margin: 0;
}

.site-navigation,
.cart {
  position: relative;
  text-transform: uppercase;
}

.site-navigation a,
.cart a {
  display: inline-block;
  padding: 30px 24px 14px 22px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.navigation-current {
  position: relative;
}

.navigation-current::before {
  content: "";
  position: absolute;
  background-color: #fb565a;
  width: 74px;
  height: 2px;
  top: 59px;
  left: 23px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 34px;
  left: 223px;
  height: 30px;
  width: 30px;

  background: url("../img/cart-icon.svg") no-repeat;
}

.cart a {
    margin-left: 200px;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: flex-start;
  padding: 0 140px;
  background-color: #eeeeee;
}

.row-1-left {
  width: 395px;
}

.row-1 h1 {
  margin-top: 76px;
  margin-bottom: 23px;
  font-size: 54px;
  line-height: 56px;
}

.row-2 {
  display: flex;
  justify-content: flex-start;
  margin: 0 140px;
  padding: 80px 0;
  border-bottom: 2px solid lightgrey;
}

.column {
  width: 250px;
  margin-right: 150px;
}

.column h2 {
  text-transform: uppercase;
}

.column button {
  padding: 16px 40px;
  margin-top: 32px;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a;
}

.row-3 {
  display: flex;
  justify-content: flex-start;
  margin: 80px 140px 0 140px;;
  padding: 0;
	padding-bottom: 50px;
	border-bottom: 2px solid lightgrey;
}


.row-3-left {
  width: 660px;
  margin-right: 140px;
}

.row-3-left li {
  position: relative;
  line-height: 44px;
}

.row-3-left li::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 20px;

  width: 25px;
  height: 2px;
  background: red;
}

.row-3 h2 {
  font-size: 45px;
  line-height: 45px;
  margin-top: 0;
}

.row-3 h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.row-3-right {
	width: 420px;
}

.row-3-right ul {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.row-3-right ul li {
	width: 100px;
	padding: 0;
	margin: 0 15px;;
}

.big-percent {
	font-size: 40px;
	font-weight: bold;
}

.row-logo {
	display: flex;
	justify-content: space-between;
	margin: 0 140px;
  padding: 0;
	border-bottom: 2px solid lightgrey;
}

.row-logo img {
	opacity: 0.2;
}

.vertical-line {
	margin: auto 0;
	padding: 0;
	width: 2px;
	height: 50px;
	background-color: lightgrey;
}

footer {
	margin: 80px 0 0 0;
  padding: 0;
}
.map {
	position: relative;
	height: 400px;
	margin: 0;
	padding: 0;
	background-image: url("../img/map.png");
	background-position: center center;
}

.feedback-form {
	position: absolute;
	left: 140px;
	top: 52px;
	width: 250px;
	height: 250px;
	margin: 0;
	padding: 35px;
	background-color: #ffffff;
}

.feedback-form p {
	opacity: 0.6;
}

.map-pointer {
	position: absolute;
	top: 100px;
	left: 600px;
}

.social {
	margin: 0 140px;
	padding: 0;
	height: 200px;
	display: flex;
	align-items: flex-start;
}

.social > div {
	margin: auto 80px;
	margin-left: 30px;
}

.social-container {
	display: flex;
	justify-content: space-between;
	width: 150px;
	background-color: grey;
}


.social h2 {
	font-size: 34px;
	margin: 0;
	margin-top: 50px;
}


/*Оформление каталога*/

h1 {
	text-align: center;
	font-size: 53px;
	margin: 0;
	padding: 90px 0 123px 0;
	letter-spacing: 0.025em;
	background-color: #eeeeee;
}

.main-catalog {
	display: flex;
	align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
	padding: 58px 140px;
}

.filter {
  width: 260px;
}

.filter button {
  background-color: #eeeeee;
  color: #000000;
}

.filter-item legend {
	font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter-item {
  margin: 0 0 40px 0;;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 51px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right:  20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius:  5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 8px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.examples {
  margin-left: 140px;
}

.examples-images {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-image {
  margin-bottom: 23px;
}
